h1 a {
    color: #ffffff;
}

.page-header {
    background-color: #B75668;
    margin-top: 0;
    padding: 20px 20px 20px 80px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    /*margin-left: 40px;*/
    /*background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;*/

}

h1, h2, h3, h4 {
    font-family: 'Orbitron', sans-serif;
    color: #ffffff;
}

.date {
    color: #ffffff;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #ffffff;
}
body{
background-image: url(../img/coffee.jpg);
    background-repeat: no-repeat;
    background-attachment: cover;    
}
p{

font-family: 'Covered By Your Grace', cursive;
/*color: #ffffff;*/
font-size: 18px;
}